alacritty/**
autostart/**
btop/**
cachyos/**
cachyos-hello.json
cava/**
config1/**
dconf/**
gtk-3.0/**
gtk-4.0/**
libreoffice/**
micro/**
mimeapps.list
mozilla/**
noctalia/plugins/**
noctalia/colors.json
noctalia/plugins.json
nvim/*
gh/**
obsidian/**
nvim/lua/config/**
pulse/**
user-dirs.dirs
user-dirs.locale
zen/**
VirtualBox/**
nautilus/**
