hotkey-overlay {
  skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
spawn-at-startup "qs" "-c" "noctalia-shell"

environment {
  XCURSOR_THEME "Nordzy-cursors"
  XCURSOR_SIZE "24"
}

cursor {
  xcursor-theme "Nordzy-cursors"
  xcursor-size 24
}
