window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
  opacity 0.6
  draw-border-with-background false
  background-effect {
    blur true
  }
}

window-rule {
  match is-active=true
  opacity 0.8
}

window-rule {
  match app-id="zen"
  popups {
    opacity 1.0
  }
}

window-rule {
  match app-id="org.gnome.Nautilus"
  open-floating true
}
